<%- include('partials/header')%>

<body>
    
    <div class="container mt-5">
        <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
    </div>
    <div class="container mt-5">
        <h1 class="text-center">Menu</h1>
        
        <div class="container-fluid text-right">
            <a href="/menus/add"><button type="button" class="btn btn-success">Add Menu</button></a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                <% data.forEach(list => { %>
                <tr>
                    <td><%= list.name %></td>
                    <td><%= formatUang(Number(list.price)) %></td>
                    <td>
                        <a href="/menus/edit/<%=list.id%>"><button type="button" class="btn btn-primary">Edit</button>
                        </a>
                        <a href="/menus/delete/<%=list.id%>"onclick="return confirm('Are you sure?')">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                        <a href="/menus/orderby/<%=list.id%>"><button type="button" class="btn btn-success">Ordered By</button>
                        </a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</body>
</html>